map $http_upgrade $connection_upgrade {
  default upgrade;
  '' close;
}

server {

  server_name {{ domain_name }};

  location / {
    proxy_set_header Host $http_host;
    proxy_pass {{ proxy_url }};
  }

}
